.site-footer {
  background-color: #e8e7e7;
  height: 180px;
  border-top: 4px solid #2858a2;
  width: 100%;
  right: 0;
  left: 0;
}

.center-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(80%);
  -ms-transform: translateY(80%);
  transform: translateY(80%);

}