<div style="height: 190px">
  <div class="d-flex justify-content-between">
    <div class="content">
      <div class="categoria-card">
        <img class="content-image" src="../../assets/img/categorias/categoria1.png">
      </div>
    </div>
    <div class="content">
      <div class="categoria-card">
        <img class="content-image" src="../../assets/img/categorias/categoria2.png">
      </div>
    </div>
    <div class="content">
      <div class="categoria-card">
        <img class="content-image" src="../../assets/img/categorias/categoria3.jpg">
      </div>
    </div>
    <div class="content">
      <div class="categoria-card">
        <img class="content-image" src="../../assets/img/categorias/categoria4.png">
      </div>
    </div>
  </div>
</div>