<div style="height: 380px">
  <h4 class="mb-5" style="color: #285698;font-size: 20px;font-family: sans-serif"> > Acá encontrarás la información
    que necesitas</h4>

  <div id="carouselExampleIndicators2" class="carousel mini slide container" data-ride="carousel2"
    style="background-color: white;">
    <ol class="carousel-indicators" style="bottom: -50px">
      <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active custom-indicator">
      </li>
      <li data-target="#carouselExampleIndicators2" class="custom-indicator" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators2" class="custom-indicator" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators2" class="custom-indicator" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators2" class="custom-indicator" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators2" class="custom-indicator" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators2" class="custom-indicator" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-between">
          <img class="d-block" src="../../assets/img/slider-mini/mini1.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini2.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini3.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini4.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini5.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini6.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini7.png" alt="First slide" height="250px">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-between">
          <img class="d-block" src="../../assets/img/slider-mini/mini8.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini9.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini10.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini11.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini12.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini13.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini14.png" alt="First slide" height="250px">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-between">
          <img class="d-block" src="../../assets/img/slider-mini/mini15.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini16.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini17.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini18.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini19.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini20.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini21.png" alt="First slide" height="250px">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-between">
          <img class="d-block" src="../../assets/img/slider-mini/mini22.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini23.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini24.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini25.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini26.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini27.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini28.png" alt="First slide" height="250px">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-between">
          <img class="d-block" src="../../assets/img/slider-mini/mini29.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini30.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini31.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini32.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini33.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini34.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini35.png" alt="First slide" height="250px">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-between">
          <img class="d-block" src="../../assets/img/slider-mini/mini36.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini37.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini38.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini39.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini40.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini41.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini42.png" alt="First slide" height="250px">
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-between">
          <img class="d-block" src="../../assets/img/slider-mini/mini43.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini44.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini45.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini46.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini47.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini48.png" alt="First slide" height="250px">
          <img class="d-block" src="../../assets/img/slider-mini/mini49.png" alt="First slide" height="250px">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>