<router-outlet></router-outlet>

<div class="d-flex flex-column position-fixed" style="left: 0; top: 40%">
  <div class="container-red facebook">
    <i class="fab fa-facebook fa-xl"></i>
  </div>
  <div class="container-red instagram" href="#">
    <i class="fab fa-instagram fa-xl"></i>
  </div>
  <div class="container-red youtube" href="#">
    <i class="fab fa-youtube fa-xl"></i>
  </div>
  <div class="container-red twitter" href="#">
    <i class="fab fa-twitter fa-xl"></i>
  </div>
  <div class="container-red linkedin" href="#">
    <i class="fab fa-linkedin fa-xl"></i>
  </div>
  <div class="container-red flickr" href="#">
    <i class="fab fa-flickr fa-xl"></i>
  </div>
  <div class="container-red tiktok" href="#">
    <i class="fab fa-tiktok fa-xl"></i>
  </div>
</div>