<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <title>Conocenos</title>
</head>
<body>
   
    <div class="container">       
        <app-menu></app-menu>
    <div >
        <h1 class="Titulo1" >
            Acerca de nosotros...
        </h1>
        <hr>
    </div>
    <br>
    <div class="contenedor">
        <figure>
            <img src="../../assets/img/conocenos/clinica-banner.jpg" alt="">
            <div class="capa">
                <p style="color: rgb(247, 244, 244); font-style: italic;">
                    <strong>
                    Somos una red de Clínica y Centros médicos a nivel nacional, con la
                    tecnología más moderna y el Staff médico más comprometido con la salud 
                    de nuestros pacientes y la de su familia.
                    </strong>
                </p>
            </div>
        </figure>
        
    </div>
    <br>
    <div class="container">
        <p style="color: gray; text-align: center; ">      
                Clínica Internacional es parte del Grupo BRECA<br>
                BRECA es un conglomerado empresarial diversificado con operaciones en Perú, Chile y Brasil, 
                con más de 130 años de historia. Sus fundadores, Fortunato Brescia Tassano y su esposa, 
                Maria Catalina Cafferata, establecieron una cultura de valores entre los cuales se encuentran 
                la integridad, la pasión por el aprendizaje, la innovación y el compromiso con el desarrollo de 
                los países en los que operan.<br>
                Los apellidos Brescia y Cafferata dan origen al nombre BRECA, que simboliza el orgullo y recuerdo 
                de sus fundadores.<br>
                El propósito de BRECA es “Inspiramos para Trascender”. Este propósito se materializa a través del
                compromiso con la innovación, la sostenibilidad y el desarrollo del talento.<br>
                Actualmente BRECA es liderada por los miembros de la tercera generación, sus copresidentes Alex Fort
                Brescia y Pedro Brescia Moreyra, los miembros de su directorio, Doña Rosa Brescia Cafferata, 
                Doña Ana Maria Brescia Cafferata, Fortunato Brescia Moreyra, Mario Brescia Moreyra, y su CEO Jaime Araoz 
                Medanic.
        </p>
        <br>
        <div class="row"  >
            <div class="col order-last" >                
                <div class="img-icon">
                    <img src="../../assets/img/conocenos/clinica-icon.png">
                    <p class="text-icon">Infraestructura</p>
                </div>
            </div>
            <div class="col" >
                <div class="img-icon">
                    <img src="../../assets/img/conocenos/tecnologia-icon.png">
                    <p class="text-icon">Tecnología</p>
                </div>
            </div>
            <div class="col order-first">
                <div class="img-icon">
                    <img src="../../assets/img/conocenos/doctor-icon.png" >
                    <p class="text-icon">Staff Médico</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h1 class="Titulo2">
            Nuestro compromiso 
        </h1>
        <hr>
    </div>
    <br>
    <br>
    <div class="container text-center">
        <div class="row" >           
            <div class="b9fig" >
                <img src="../../assets/img/conocenos/mision-vision.jpg"  >
            </div>
            <div class="col align-self-end">
                <div class="b9info">
                    <div>
                        <h3>Vision</h3>
                        <p>Ser la Red de servicios de salud privada de referencia en el país.</p>       
                    </div>
                    <div>
                        <h3>Misión</h3>
                        <p>Hacer sentir a nuestros pacientes que su salud está en las mejores manos, 
                            combinando la excelencia en nuestro servicio con nuestra pasión por la salud 
                            y la innovación permanente de procedimientos médicos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <app-pre-menu></app-pre-menu>
</div>

    <app-footer></app-footer>

  
</body>
</html>