<div class="pt-4 pb-3">
  <div class="d-flex">
    <div class="d-flex">
      <div class="content" style="vertical-align: middle">
        <div class="container-image"><img class="content-image img-hover" src="../../assets/img/pre-menu/pre-menu4.png"></div>
      </div>
      <div class="content">
        <img class="content-image img-hover" src="../../assets/img/pre-menu/pre-menu2.png">
      </div>
      <div class="content">
        <img class="content-image img-hover" src="../../assets/img/pre-menu/pre-menu3.png">
      </div>
      <div class="content">
        <img class="content-image img-hover" src="../../assets/img/pre-menu/pre-menu.png">
      </div>
    </div>
  </div>
</div> 